.page-header {
  background-color: #1b2d37;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1420px;
  margin: 0 auto;
  padding: 32px 10px 23px;
  z-index: 5;

  @media (max-width: 1023px) {
    max-width: 100%;
    padding: 21px 24px 0;
  }

  @media (max-width: 767px) {
    padding: 17px 16px 0;
  }
}

.page-header__logo {
  padding-left: 3px;
}

.page-header__logo img {
  @media (max-width: 767px) {
    width: 38px;
    height: 38px;
  }
}
