.promo {
  display: flex;
  background-color: #1b2d37;
}

.promo__text h2 {
  margin: 0;
  margin-bottom: 31px;
  font-size: 80px;
  line-height: 94px;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.promo__text p {
  margin: 0;
  margin-bottom: 37px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
}

.promo__button {
  padding: 17px 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  border-radius: 5px;
}

.promo__scroll {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;
}

.promo img {
  display: block;
}
