.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 767px) {
    margin-top: 12px;
  }
}

.social__link svg {
  &:hover {
    fill: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.social__item:not(:last-child) {
  margin-right: 16px;
}
